:host {
  width: 100%;
}
.header-dropdown {
  min-width: 180px;
  max-width: 200px;
}

select {
  padding: 6px 12px;
  border: 1px solid #e2e3f4;
  border-radius: 4px;
  font-size: 16px;

  option {
    font-size: 16px;
  }
}
