<div class="formGroup" *ngIf="!simpleSelect">
  <mat-form-field appearance="outline" [ngClass]="{ 'disabled-control': disableControl }">
    <mat-label removeAriaOwns>{{ label }}</mat-label>

    <mat-select
      #selectInput
      [name]="name"
      [tabindex]="tabindex"
      [(ngModel)]="value"
      #controlName="ngModel"
      [placeholder]="placeholder"
      (selectionChange)="selectionChange($event)"
      [required]="required"
      [disabled]="disableControl"
      panelClass="dropdownPanelClass"
      [class.hide-ellipsis]="hideEllipsis"
      [autoFocus]="autoFocus"
      disableOptionCentering
    >
      <mat-option *ngIf="showDefaultOption" [ngValue]="null">{{ label }}</mat-option>
      <mat-option
        *ngFor="let option of options"
        [tooltipText]="option.text"
        conditionalTooltip
        [tooltipPosition]="tooltipPosition"
        [disabled]="option.isDisabled"
        [value]="option.value"
        >{{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-error *ngIf="(submitted || controlName.touched) && controlName.invalid">
    <span *ngIf="controlName.hasError('required')">{{ 'common.validations.required' | translate }}</span>
  </mat-error>
</div>
